.dialog {
    display: flex;
    align-items: center;
    margin-bottom: 0.5em;
}

.dialog a {
    color: #000;
    text-decoration: none;
}

a.active {
    color: #df889a;
}

.avatar {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin: 0 0.5em 0 0;
}