.btn {
    padding: 5px 10px;

    border: 2px solid #e7e7e7;
    border-radius: 5px;
    background-color: #fff;
    color: black;
    cursor: pointer;

    transition-duration: 0.3s;
}

.btn:hover {
    background-color: #e7e7e7;
}

.btn:disabled {
    opacity: 0.5;
    border-color: #fff;
    cursor: default;
}

.btn:disabled:hover {
    background-color: #fff;
    opacity: 0.5;
    cursor: default;
}

/*.btn:hover:enabled{*/
/*    opacity: 0.5;*/
/*    cursor: default;*/
/*}*/

.red {
    background: #fff;
    color: #000;
    border-color: #e3d2f1;
}

.red:hover {
    background-color: #e3d2f1;
    color: #000;
    border: 2px solid #e3d2f1;
}

.red:disabled {
    opacity: 0.5;
    cursor: default;
}

.red:disabled:hover {
    opacity: 0.5;
    cursor: default;
    background: #fff;
    border-color: #fff;
}