.header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #E3D2F1;
    border-radius: 0 0 10px 10px;
    padding: 0 10px;
}

.logo {
    width: 40px;
    height: 40px;
}

.loginBlock {

}
