.header {
    grid-area: header;
    background-color: #E3D2F1;
    display: flex;
    align-items: center;
    border-radius: 0 0 10px 10px;
}

.logo {
    width: 3em;
    height: 3em;
    padding-left: 0.5em;
}