.nav {
    grid-area: nav;
    background-color: #f3eded;
    padding: 0.5em 0 0 0.5em;
    border-radius: 10px 10px 0 0;
}

.item a {
    color: #000;
    text-decoration: none;
    font-size: 18px;
}

.item a.activeLink {
    color: #df889a;
}